html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing:inherit
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0;
}

h1 {
    margin-top: 5%;
    text-align: center;
}

.nav-bar-item {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar {
    background-color:#000;
    color:#fff;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar-item:hover {
    background: #ddd;
    color: black;
}

@media screen and (max-width: 500px) {
    .nav-bar-item {
        float: none;
        display: block;
    }
}